@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Cantarell');


.link {
	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
}

.link:hover {
	color: black !important;
	background: orange !important;
}

.categ a{
	color: black;
	font-style: bold;
}
